#botonSuma{

    width: 100px;
    height: 100px;
    font-size: 50px;

}

#botonDividir{

    width: 100px;
    height: 100px;
    font-size: 50px;

}

#botonMultiplicar{

    width: 100px;
    height: 100px;
    font-size: 50px;

}

#botonModulo{

    width: 100px;
    height: 100px;
    font-size: 50px;
}

#resultado{

    font-size: 50px;

}